
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: currentColor;
    stroke-width:5.5;
    stroke-linecap:round;
  }
}

.ham-close {
  &.active {
    transform: rotate(45deg);
    .top {
      stroke-dasharray: 17 82;
      stroke-dashoffset: -62px;
    }
    .middle {
      stroke-dashoffset: 23px;
    }
    .bottom {
      stroke-dashoffset: -83px;
    }
  }
  .top {
    stroke-dasharray: 40 82;
  }
  .middle {
    stroke-dasharray: 40 111;
  }
  .bottom {
    stroke-dasharray: 40 161;
  }
}

.ham-back {
  .top {
    stroke-dasharray: 40 121;
  }
  .bottom {
    stroke-dasharray: 40 121;
  }
  &.active .top {
    stroke-dashoffset: -102px;
  }
  &.active .bottom {
    stroke-dashoffset: -102px;
  }
}
